<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/searchStyle.css' %}">
</head>
<body>
<div class="login_page display_flex justify_content_center align_item_center ">
    <form class='p_3' method="post">
        {% csrf_token %}


        {% if form.errors %}
            <div class=" m_bottom_2 alert alert_danger">
                Bad credentials.
            </div>
        {% endif %}

        <div class="m_bottom_2">
            {{ form.username }}
        </div>
        <div class="m_bottom_2">
            {{ form.password }}
        </div>
        <button class="button full_width button_green_light m_bottom_1" type="submit">Login</button>

        <div class="">
            Don't have an account? <a href="{% url 'Register' %}">Create Account</a>
        </div>
    </form>

</div>
</body>
</html>